
body {
  background-color: #000000;
  background-size: 1200px 630px;
  background-image: url("pics/backgrounds/future-world.jpg");
  background-repeat: no-repeat;
}

#back-button {
  float: right;
  height: 25px;
  width: 150px;
  border-radius: 10px;
  border: solid lightgrey 3px;
  margin-right: 100px;
  color: lightgrey;
  background-color: darkgreen;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}

#back-button:hover {
  box-shadow: 0px 0px 10px white;
}
#child-future {
  height: 200px;
  width: 300px;
  background-image: url("pics/page-images/child-earth.jpg");
  background-size: cover;
  border: solid 3px lightgrey;
  border-radius: 50%;
  margin-left: 30px;
  margin-top: 30px;
}

#future {
  height: 100px;
  width: 400px;
  margin-left: -20px;
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  color: lightgrey;
}

#internet {
  float: right;
  height: 105px;
  width: 180px;
  background-image: url("pics/page-images/internet-of-things.jpg");
  background-size: cover;
  border-radius: 10px;
  margin-right: 340px;
  margin-top: -185px;
}

#my-future {
  height: 200px;
  width: 600px;
  float: right;
  margin-right: 10px;
  margin-top: -20px;
  border-radius: 20px;
  background-color: black;
  opacity: .7;
  color: white;
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
}

.line {
  color: lightgreen;
}
